body {
    background-image: url("../images/question-marks.jpg");
    background-size: 100% 100%; 
}
.answers:hover {
    background-color: lightgrey;
}
h1 {
    color: #3cc0ea;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a:hover {
    text-decoration: none;
}